<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>An issue has been created for <%=ENV['website']%></h1>
    <p>
      The issue URL is: <%= @issue_url %><br>
    </p>
    <p>
      The latest data export is available at : <%= @data_url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
